<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>HamsFlow</string>
	<key>CFBundleDisplayName</key>
	<string>HamsFlow</string>
	<key>CFBundleExecutable</key>
	<string>HamsFlow</string>
	<key>CFBundleIdentifier</key>
	<string>com.mesh.hamsflow</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.mesh.hamsflow</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hamsflow</string>
				<string>murmuryt</string>
			</array>
		</dict>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>LSUIElement</key>
	<false/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>HamsFlow listens while you hold or toggle the hotkey to transcribe your speech into text locally.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>HamsFlow transcribes your speech on-device to insert text where you're typing.</string>
</dict>
</plist>
